.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  h1 {
    font-size: 70px;
    color: #eadcdc;
    font-weight: 400;
  }
}
